*{
    margin: 0;
    padding:0 ;
}
body{
    
}
.nav-container{
    height:100vh ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:antiquewhite

}
.nav-info{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.logo{
    padding-right: 30px;
}
.nav-heading{
    font-size: 60px;
}
.banner-heading{
    font-size: 35px;
}
.heading-turn{
    color: red;
}
.banner-container{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    background-color: bisque;
    padding-top:40px ;
    padding-bottom:40px ;
}
.banner-content{
    text-align: center;
    padding-left:110px ;
}
.flower-logo{
    padding-right:150px ;
}
.insta-content{
    text-align: center;
    margin-top: 60px;

}
.box{
    width:200px ;
    height:200px ;
    margin-right: 5px;
    
}
.allbox{
    display: flex;
    width:60% ;
    
    margin:auto ;
    padding-bottom: 20px;
    margin-top: 20px;
    
}